<ion-split-pane>
    <ion-menu contentId="principal" side="end">

      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
          <ion-list>
              <ion-menu-toggle auto-hide="false" *ngFor="let c of component | async">
                <ion-item 
                          [routerLink]="c.redirectTo"
                           routerDirection="root"
                           [class.active-item]="selectedPath.startsWith(c.redirectTo)">
                  <ion-icon slot="start" [name]="c.icon"></ion-icon>
                  <ion-label>{{c.name}}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
      </ion-content>

    </ion-menu>

    <ion-router-outlet id="principal" main></ion-router-outlet>
  </ion-split-pane>