<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  
  <!-- <h1 *ngIf="data.length === 0" class="animated fadeIn fast">
    Pull to refresh
  </h1> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list  class="animated fadeIn fast">
    <ion-card class='single-post-home' *ngFor="let feed of feeds">
      <ion-item lines="none">
        <ion-avatar slot="start" class="ion-margin-top ion-margin-bottom">
          <ion-img  src="https://pbs.twimg.com/profile_images/1095548081892864000/toe7KWxm.jpg"></ion-img>
          <!-- <img src="https://pbs.twimg.com/profile_images/1095548081892864000/toe7KWxm.jpg"> -->
        </ion-avatar>
        <ion-label>Tomas Johansson</ion-label>
      </ion-item>
      <img [src]="feed.Imagenes[0]" alt="">
      <ion-item>
        <ion-label>
          <p>se el primero en decir me gusta</p>
        </ion-label>
      </ion-item>
      <hr>
      <ion-buttons class="ion-margin-start">
        <ion-button  clear small>
            <ion-icon name="heart-empty"></ion-icon>
        </ion-button>
        <ion-button  clear small>
            <ion-icon name="chatbubbles"></ion-icon>
            <ion-label>{{ feed.CantidadComentarios }}</ion-label>
        </ion-button>
      </ion-buttons>
      <ion-card-content>
        <ion-card-title class="ion-margin-bottom">{{ feed.Nombre}}</ion-card-title>
        {{ feed.Resumen }}
      </ion-card-content>
    </ion-card>
  </ion-list>
    
   <!-- <ion-infinite-scroll 
        threshold="150px" 
        (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="crescent"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>