<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="beneficios">
        <ion-icon name="star"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button (click)="toggleMenu()">
          <ion-icon name="menu"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
